<ion-content [fullscreen]="true">
  <div id="container">
    <img class="ion-text-center" src="../../assets/undraw_Login_re_4vu2.svg" />
    <form [formGroup]="loginForm" class="ion-padding">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <ion-spinner *ngIf="email.status === 'PENDING'"></ion-spinner>
        <ion-text color="danger" *ngIf="email.errors?.emailTaken">Sorry, this email has already been taken. Please sign up with a different email.</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-text *ngIf="password.invalid && (password.dirty || password.touched)" color="danger">Password needs to be at least 6 characters</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm"></ion-input>
        <ion-text *ngIf="(confirm.dirty || confirm.touched) && loginForm.errors?.dontMatch" color="danger">Password dont match</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Address</ion-label>
        <ion-grid>
         <ion-row>
           <ion-col>
             <ion-label position="floating">Street</ion-label>
             <ion-input></ion-input>
           </ion-col>
           <ion-col>
            <ion-label position="floating">City</ion-label>
            <ion-input></ion-input>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col>
            <ion-label position="floating">State</ion-label>
            <ion-input></ion-input>
           </ion-col>
           <ion-col>
            <ion-label position="floating">Zip</ion-label>
            <ion-input type="number"></ion-input>
           </ion-col>
         </ion-row>
        </ion-grid>
      </ion-item>
      <ion-button
        [disabled]="!loginForm.valid"
        class="ion-margin"
        expand="block"
        >Submit</ion-button
      >
    </form>
  </div>
</ion-content>
